stages:
  - test
  - build
  - release

variables:
  GO_VERSION: "1.25.4"

# Run tests
test:
  stage: test
  image: golang:${GO_VERSION}
  script:
    - go test ./...

# Build binaries
build:
  stage: build
  image: golang:${GO_VERSION}
  script:
    - go build -o vimgame
  artifacts:
    paths:
      - vimgame
    expire_in: 1 week

# Release with GoReleaser (only on tags)
release:
  stage: release
  image: goreleaser/goreleaser:latest
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+/
  script:
    - goreleaser release --clean
  variables:
    GITLAB_TOKEN: $CI_JOB_TOKEN
