stages:
  - test
  - build
  - release

variables:
  GO_VERSION: "1.21"

# Run tests
test:
  stage: test
  image: golang:${GO_VERSION}
  script:
    - go test ./...

# Build binaries
build:
  stage: build
  image: golang:${GO_VERSION}
  script:
    - go build -o myapp
  artifacts:
    paths:
      - myapp
    expire_in: 1 week

# Release with GoReleaser (only on tags)
release:
  stage: release
  image: goreleaser/goreleaser:latest
  only:
    - tags
  script:
    - goreleaser release --clean
  variables:
    GITLAB_TOKEN: $CI_JOB_TOKEN
